<div ng-controller="HomepageCtrl" class="page preview js_show">
	<div class="page__bd">
		<div class="page__logo"><img src="images/logo.png"></div>
		<div class="page__bd page__bd_spacing">
			<a ng-click="pay('TINY_MINS', 15)" class="weui-btn weui-btn_primary">打球15分钟-15元</a>
			<a ng-click="pay('SMALL_MINS', 30)" class="weui-btn weui-btn_primary">打球30分钟-30元</a>
			<a ng-click="pay('BIG_MINS', 50)" class="weui-btn weui-btn_primary">打球60分钟-50元</a>
		</div>
	</div>
	<div class="weui-footer weui-footer_fixed-bottom">
		<p class="weui-footer__text">Copyright © 2017-2028 乐众高尔夫</p>
	</div>
</div>